<div if="page-content">
  <h1 class="text-center mt-4">Edit article</h1>
  <%= render 'form' %>
  <p class="text-center"> <%= link_to 'Return to articles listing', articles_path, class: "btn btn-sm btn-info"%> </p>
</div>