<div if="page-content">
  <h1 class="text-center mt-4">Edit your profile</h1>
  <%= render 'form' %>
  <p class="text-center"> <%= link_to 'Return to user listing', user_path, class: "btn btn-sm btn-info"%> </p>
</div>